#move{
    position:absolute;
    top: 75%;
    font-size: 250%;
    color: orangered;
    width: 100%;
    text-align: center;
}

#move > * {
    margin-left: 2%;
}

#move > *:hover{
    cursor: pointer;
}